%article.contentmain
  .categories
    %section.category
      = link_to leesa_path do
        = image_tag 'about/leesa.JPG', :class => 'img'
      %h1.placeholder_about
        = link_to "Leesa", leesa_path
    %section.category
      = link_to press_path do
        = image_tag 'about/press.jpg', :class => 'img'
      %h1.placeholder_about
        = link_to "Press", press_path
    %section.category
      = link_to philosophy_path do
        = image_tag 'about/philosophy.jpg', :class => 'img'
      %h1.placeholder_about 
        = link_to "Philosophy", philosophy_path


