%article.contentmain
  .categories
    %section.category
      = link_to leesa_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Leesa
    %section.category
      = link_to press_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Press
    %section.category
      = link_to philosophy_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Philosophy
