= link_to raw("&#171; Return to Celebrity Styling"), celebrity_styling_path, :id => "returncategories"
%section#advertising.categorysection
  .row
    %article.categoryitem
      = link_to image_path('advertising/advertising1.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising1.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/advertising2.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising2.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('advertising/advertising7.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising7.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('advertising/advertising8.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising8.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/advertising9.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising9.jpg', :class => 'img'
