= link_to raw("&#171; Return to Celebrity Styling"), celebrity_styling_path, :id => "returncategories"
%section#advertising.categorysection
  .row
    %article.categoryitem
      = link_to image_path('advertising/advertising11.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising11.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/advertising22.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising22.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('advertising/advertising33.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising33.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('advertising/advertising44.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising44.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/advertising55.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Claire-Danes2.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/advertising66.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/advertising66.jpg', :class => 'img'
