= link_to raw("&#171; Return to Celebrity Styling"), celebrity_styling_path, :id => "returncategories"
%section#advertising.categorysection
  .row
    %article.categoryitem
      = link_to image_path('advertising/ads1.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads1.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/ads2.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads2.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('advertising/ads3.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads3.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('advertising/ads4.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads4.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/ads5.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads5.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/ads6.JPG'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads6.JPG', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('advertising/ads7.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads7.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/ads8.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads8.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('advertising/ads9.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'advertising/ads9.jpg', :class => 'img'


