= link_to raw("&#171; Return to Costume Design Categories"), costume_design_path, :id => "returncategories"
%section#behindthescenes.categorysection
  .row
    %article.categoryitem
      = link_to image_path('behind_the_scenes/IMG_0863.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/IMG_0863.jpeg', :class => 'img'
      %h1 Title Missing
    %article.categoryitem
      = link_to image_path('behind_the_scenes/IMG_0854.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/IMG_0854.jpeg', :class => 'img'
      %h1 Title Missing
    %article.categoryitem.last
      = link_to image_path('behind_the_scenes/IMG_0862.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/IMG_0862.jpeg', :class => 'img'
      %h1 Title Missing
  .row
    %article.categoryitem
      = link_to image_path('behind_the_scenes/IMG_0856.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/IMG_0856.jpeg', :class => 'img'
      %h1 Title Missing
    %article.categoryitem
      = link_to image_path('behind_the_scenes/IMG_0728.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/IMG_0728.jpeg', :class => 'img'
      %h1 Title Missing
    %article.categoryitem.last
      = link_to image_path('behind_the_scenes/IMG_0175.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/IMG_0175.jpeg', :class => 'img'
      %h1 Title Missing
