= link_to raw("&#171; Return to Costume Design"), costume_design_path, :id => "returncategories"
%section#behindthescenes.categorysection
  .row
    %article.categoryitem
      = link_to this_is_fourty_path do
        = image_tag 'behind_the_scenes/this_is_forty_movie_poster.jpg', :class => 'img'
      %h1 This Is 40
    %article.categoryitem.last
      = link_to five_year_engagement_path do
        = image_tag 'behind_the_scenes/five_year_poster.jpg', :class => 'img'
      %h1 The Five Year Engagement
    %article.categoryitem
      = link_to bridesmaids_path do
        = image_tag 'behind_the_scenes/bridesmaidscover.jpg', :class => 'img'
      %h1 Bridesmaids
  .row
    %article.categoryitem
      = link_to i_love_you_man_path do
        = image_tag 'behind_the_scenes/iloveyoumancover.jpeg', :class => 'img'
      %h1 I Love You Man
    %article.categoryitem
      = link_to get_him_to_the_greek_path do
        = image_tag 'behind_the_scenes/gethimtothegreekcover.jpeg', :class => 'img'
      %h1 Get Him To The Greek
    %article.categoryitem
      = link_to forgetting_sarah_marshall_path do
        = image_tag 'behind_the_scenes/forgetting_sarah_marshall.png', :class => 'img'
      %h1 Forgetting Sarah Marshall
