%section#behindthescenes.categorysection
  = link_to raw("&#171; Return to Costume Design Categories"), costume_design_path, :id => "returncategories"
  %article.categoryitem
    = image_tag 'behind_the_scenes/IMG_0863.jpeg'
    %h1 Title Missing
  %article.categoryitem
    = image_tag 'behind_the_scenes/IMG_0854.jpeg'
    %h1 Title Missing
  %article.categoryitem.last
    = image_tag 'behind_the_scenes/IMG_0862.jpeg'
    %h1 Title Missing
  %article.categoryitem
    = image_tag 'behind_the_scenes/IMG_0856.jpeg'
    %h1 Title Missing
  %article.categoryitem
    = image_tag 'behind_the_scenes/IMG_0728.jpeg'
    %h1 Title Missing
  %article.categoryitem.last
    = image_tag 'behind_the_scenes/IMG_0175.jpeg'
    %h1 Title Missing
