= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 Bridesmaids

  %p 
    6 amazing women.....what a great time!
    kristen & annie wrote a sweet & hilarious script
    all shot in LA what a treat!!


  %h2 one of my favorite posters ever!
  = image_tag "behind_the_scenes/bridesmaids1.jpg", :class => "aboutimg"

  %h2 alternate poster ideas!
  = image_tag "behind_the_scenes/bridesmaids2.jpg", :class => "aboutimg"

  %h2 I love this shot
  = image_tag "behind_the_scenes/bridesmaids3.jpg", :class => "aboutimg"

  %h2 my favorite day of shooting
  = image_tag "behind_the_scenes/bridesmaids4.jpg", :class => "aboutimg"

  %h2 I love these outfits!
  = image_tag "behind_the_scenes/bridesmaids5.jpg", :class => "aboutimg"
