%article.contentmain
  .categories
    %section.category
      = link_to editorials_path do
        = image_tag 'editorials/editorial1.jpeg', :class => 'img'
      %h1 Editorials
    %section.category
      = link_to advertising_path do
        = image_tag 'advertising/advertising11.jpg', :class => 'img'
      %h1 Advertising
    %section.category
      = link_to commercials_path do
        = image_tag 'Claire-Danes2.jpg', :class => 'img'
      %h1 Commercials
