%article.contentmain
  .categories
    %section.category
      = link_to editorials_path do
        = image_tag 'celebrity_styling/editorial-1.jpg', :class => 'img'
      %h1 Editorials
    %section.category
      = link_to advertising_path do
        = image_tag 'advertising/ads1.jpg', :class => 'img'
      %h1 Advertising
    %section.category
      = link_to commercials_path do
        = image_tag 'celebrity_styling/commercial-3.jpg', :class => 'img'
      %h1 Commercials
