= link_to raw("&#171; Return to Celebrity Styling"), celebrity_styling_path, :id => "returncategories"
%section#commercials.categorysection
  .row
    %article.categoryitem
      = link_to '<div><iframe width="560" height="315" src="http://www.youtube.com/v/-SJshO4Ys4M?" frameborder="0" allowfullscreen></iframe></div>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Russell-Brand-hp-touchpad.png', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src="http://www.youtube.com/v/Ls4KvfEcAic?" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Russell-Brand-HP.jpg', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src="http://www.youtube.com/v/ZZ1_CQD1jS8?" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Latisse-Claire-Danes.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src="http://www.youtube.com/v/SvmALPg9Cmk?" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/lebron-James.jpg', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src="http://www.themagnetagency.com/?m=Wardrobe&amp;id=9&amp;sm=COMMERCIALS" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Coca-Cola.jpg', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src="http://www.themagnetagency.com/?m=Wardrobe&amp;id=9&amp;sm=COMMERCIALS" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/converse-logo2.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src= "http://www.youtube.com/v/u0FfCJ9M0hE?" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Budweiser.jpg', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src= "http://www.youtube.com/v/66RgU4QUJ7M?" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/samsung-pic.jpg', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src= "http://media.mtvnservices.com/mgid:uma:video:mtv.com:431101/cp~id%3D1619535%26vid%3D431101%26instance%3Dmtv%26uri%3Dmgid%3Auma%3Avideo%3Amtv.com%3A431101" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/russell_brand_and_britney.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src= "http://media.mtvnservices.com/mgid:uma:video:mtv.com:429464/cp~id%3D1618731%26vid%3D429464%26instance%3Dmtv%26uri%3Dmgid%3Auma%3Avideo%3Amtv.com%3A429464" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/VMA_russell_brand.jpg', :class => 'img'
    %article.categoryitem
      = link_to '<iframe width="560" height="315" src= "http://www.youtube.com/v/0SyhAFyqvBk?" frameborder="0" allowfullscreen></iframe>', :class => 'fancybox', :rel => "group" do
        = image_tag 'Commercials/Coke_commercial.jpg', :class => 'img'
