%article.contentmain
  .categories
    %section.category
      = link_to celebrity_styling_contact_info_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Celebrity Styling
    %section.category
      = link_to private_styling_contact_info_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Private Styling
    %section.category
      = link_to movies_contact_info_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Movies
-#
  

  %section.celebritystyling
    %h1 Celebrity Styling

    %article.contact
      %h1 The Magnet Agency
      = link_to 'themagnetagency.com', 'http://www.themagnetagency.com'
      .phone 
        %strong LA 
        323-297-0250
      .phone
        %strong NY
        212-352-3223

  %section.privatestyling
    %h1 Private Styling

    %article.contact
      = link_to 'inqueries@leesaevans.com', 'inqueries@leesaevans.com'

  %section.movies
    %h1 Movies

    %artice.contact
      %h1 United Talent Agency
      = link_to 'unitedtalent.com', "http://www.unitedtalent.com"
      .phone
        %strong LA
        310-246-6097
