%article.contentmain
  .categories
    %section.category
      = link_to image_tag('costume_design/movies.png'), '#movies'
      %h1 Movies
    %section.category
      = link_to image_tag('costume_design/movie_poster.png'), '#movieposters'
      %h1 Movie Posters
    %section.category
      = link_to image_tag('costume_design/behind_the_scenes.png'), ''
      %h1 Behind the Scenes

  %section#movies.categorysection
    = link_to "Return to categories", "", :id => "returncategories"
    %article.categoryitem
      <iframe width="935" height="505" src="http://www.youtube.com/embed/IoRF_Bzuwtk?hd=1" frameborder="0" allowfullscreen></iframe>
      %h1 The Five-Year Engagement
    %article.categoryitem
      <iframe width="935" height="505" src="http://www.youtube.com/embed/FNppLrmdyug?hd=1" frameborder="0" allowfullscreen></iframe>
      %h1 Bridesmaids
    %article.categoryitem
      <iframe width="560" height="315" src="http://www.youtube.com/embed/N6ixkr0-qvo?hd=1" frameborder="0" allowfullscreen></iframe>
      %h1 Get Him to the Greek
    %article.categoryitem
      <iframe width="560" height="315" src="http://www.youtube.com/embed/hrsAu09O8Is" frameborder="0" allowfullscreen></iframe>
      %h1 I Love You, Man
    %article.categoryitem
      <iframe width="560" height="315" src="http://www.youtube.com/embed/FObBKrIDNyI" frameborder="0" allowfullscreen></iframe>
      %h1 Forgetting Sarah Marshall
    %article.categoryitem
      <iframe width="560" height="315" src="http://www.youtube.com/embed/Fz05RkwqEVU" frameborder="0" allowfullscreen></iframe>
      %h1 Into The Blue
    %article.categoryitem
      <iframe width="420" height="315" src="http://www.youtube.com/embed/CLZC7dc_u14" frameborder="0" allowfullscreen></iframe>
      %h1 American Pie
    %article.categoryitem
      <iframe width="420" height="315" src="http://www.youtube.com/embed/XvVhTHJWFr0" frameborder="0" allowfullscreen></iframe>
      %h1 Josie and the Pussycats
    %article.categoryitem
      <iframe width="560" height="315" src="http://www.youtube.com/embed/8WkJ0ZOJzgg" frameborder="0" allowfullscreen></iframe>
      %h1 Scooby Doo 2: Monsters Unleashed
    %article.categoryitem
      <iframe width="420" height="315" src="http://www.youtube.com/embed/80xWiJ-0j94" frameborder="0" allowfullscreen></iframe>
      %h1 Scooby Doo
    %article.categoryitem
      <iframe width="560" height="315" src="http://www.youtube.com/embed/QPsOP_SKEKc" frameborder="0" allowfullscreen></iframe>
      %h1 The Third Wheel
    %article.categoryitem
      <iframe width="420" height="315" src="http://www.youtube.com/embed/pC5OU5Y5ReY" frameborder="0" allowfullscreen></iframe>
      %h1 Stir of Echoes

  %section#movieposters.categorysection
    = link_to raw("&#171; Return to categories"), "", :id => "returncategories"
    %article.categoryitem
      = image_tag 'movie_posters/iloveyouman.png'
      %h1 I Love You Man
    %article.categoryitem
      = image_tag 'movie_posters/bridesmaids.png'
      %h1 Bridesmaids
    %article.categoryitem
      = image_tag 'movie_posters/gethimtothegreek.png'
      %h1 Get Him To The Greek
    %article.categoryitem.last
      = image_tag 'movie_posters/forgettingsarahmarshall.png'
      %h1 Forgetting Sarah Marshall
    %article.categoryitem
      = image_tag 'movie_posters/josie.png'
      %h1 Josie and the Pussy Cats
    %article.categoryitem
      = image_tag 'movie_posters/fiveyearengagement.png'
      %h1 Five Year Engagement
    %article.categoryitem
      = image_tag 'movie_posters/scoobydoo.png'
      %h1 Scooby Doo
    %article.categoryitem.last
      = image_tag 'movie_posters/scoobydootwo.png'
      %h1 Scooby Doo Two
    %article.categoryitem
      = image_tag 'movie_posters/intotheblue.png'
      %h1 Into The Blue
