= link_to raw("&#171; Return to Celebrity Styling"), celebrity_styling_path, :id => "returncategories"
%section#editorials.categorysection
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial1.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial1.jpeg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial2.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial2.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial3.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial3.jpeg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial4.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial4.png', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial5.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial5.jpeg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial6.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial6.png', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial7.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial7.jpeg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial8.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial8.jpeg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial9.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial9.png', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial10.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial10.jpeg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial11.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial11.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial12.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial12.jpeg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial13.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial13.png', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial14.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial14.jpeg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial15.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial15.png', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial16.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial16.png', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial17.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial17.jpeg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial18.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial18.png', :class => 'img'
  .row
    %article.categoryitem.last
      = link_to image_path('editorials/editorial19.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial19.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial20.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial20.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial21.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial21.png', :class => 'img'
