= link_to raw("&#171; Return to Celebrity Styling"), celebrity_styling_path, :id => "returncategories"
%section#editorials.categorysection
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial1.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial1.png', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial4.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial4.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial7.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial7.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial10.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial10.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial11.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial11.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial14.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial14.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial15.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial15.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial17.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial17.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial18.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial18.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial22.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial22.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial23.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial23.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial24.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial24.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial25.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial25.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial26.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial26.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial27.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial27.jpg', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('editorials/editorial28.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial28.jpg', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('editorials/editorial29.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial29.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial31.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial31.jpg', :class => 'img'
  .row
    %article.categoryitem.last
      = link_to image_path('editorials/editorial32.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial32.jpg', :class => 'img'
    %article.categoryitem
      = link_to image_path('editorials/editorial33.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'editorials/editorial33.jpg', :class => 'img'
