= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 The Five-Year Engagement

  %p 
    the five-year engagement:
    this by far has been one of the most fun films I've done! 
    I think it's a great script with an amazing group of actors
    and filmmakers.
    the film is due out mid april...can't wait!!

  %h2 At the Poster Shoot
  = image_tag "behind_the_scenes/IMG_0863.jpeg", :class => "aboutimg"
  = image_tag "behind_the_scenes/IMG_0854.jpeg", :class => "aboutimg"
  = image_tag "behind_the_scenes/IMG_0856.jpeg", :class => "aboutimg"
  = image_tag "behind_the_scenes/IMG_0862.jpeg", :class => "aboutimg"

  %h2 our favorite find: beard beenies!! 
  = image_tag "behind_the_scenes/IMG_0728.jpeg", :class => "aboutimg"

  %h2 silly sweaters we made for the film
  = image_tag "behind_the_scenes/IMG_0175.jpeg", :class => "aboutimg"
