= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
%section#editorials.categorysection
  %p The Five-Year Engagement:
  %p This by far has been one of the most fun films I've done! 
  %p I think it's a great script with an amazing group of actors and filmmakers.
  %p The film is due out mid april...can't wait!!
  .row
    %article.categoryitem
      = link_to image_path('five_year_engagement/engagement_ring_excitement.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'five_year_engagement/engagement_ring_excitement.jpeg', :class => 'img'
        %p At the poster shoot...
    %article.categoryitem.last
      = link_to image_path('five_year_engagement/family_pic_silly_altered.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'five_year_engagement/family_pic_silly_altered.jpg', :class => 'img'
        %p Poster shoot silliness
    %article.categoryitem
      = link_to image_path('five_year_engagement/family_pic_serious.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'five_year_engagement/family_pic_serious.jpeg', :class => 'img'
        %p Almost everybody being serious
  .row
    %article.categoryitem
      = link_to image_path('five_year_engagement/toasting.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'five_year_engagement/toasting.jpeg', :class => 'img'
        %p Cheers!
    %article.categoryitem.last
      = link_to image_path('five_year_engagement/shirts.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'five_year_engagement/shirts.jpeg', :class => 'img'
        %p Silly sweaters we made for the film
    %article.categoryitem.last
      = link_to image_path('five_year_engagement/beard_beanies.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'five_year_engagement/beard_beanies.jpeg', :class => 'img'
        %p Our favorite find: beard beenies!!

