= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
%section#editorials.categorysection
  %p Forgetting Sarah Marshall was such a perfect project....
  %p I met Nick Stoller, the director whom I have a great working relationship with.
  %p I also got to work with Shauna Robertson, who is the best producer and an amazing friend!
  %p And, of course, I adore this cast!
  .row
    %article.categoryitem
      = link_to image_path('forgetting_sarah_marshall/jason_segel_altered.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'forgetting_sarah_marshall/jason_segel_altered.jpg', :class => 'img'
        %p A great group of actors......
    %article.categoryitem.last
      = link_to image_path('forgetting_sarah_marshall/jonah_hill_altered.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'forgetting_sarah_marshall/jonah_hill_altered.jpg', :class => 'img'
        %p Jonah is so cute in this vintage hawaiian server shirt
    %article.categoryitem
      = link_to image_path('forgetting_sarah_marshall/man_yoga.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'forgetting_sarah_marshall/man_yoga.jpg', :class => 'img'
        %p Kristen Wiig as the yoga instructor.......
