= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
%section#editorials.categorysection
  %p I Love You Man:
  %p 2 of my favorite guys: Paul Rudd & Jason Segel...
  %p An amazing director, John Hamburg, and loads of fun!
  %p I wish we could do a sequel!!
  .bridesmaids_row
    .bridesmaids_div
      = link_to image_path('i_love_you_man/premiere_group_picture.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'i_love_you_man/premiere_group_picture.jpeg', :class => 'bridesmaids left'
        %p Paul's Groomsmen!
    .bridesmaids_div
      = link_to image_path('i_love_you_man/rush_concert.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'i_love_you_man/rush_concert.jpeg', :class => 'bridesmaids'
        %p So Fun to Shoot a Real Rush Concert
  .bridesmaids_row
    .bridesmaids_div
      = link_to image_path('i_love_you_man/rashida_pics.jpg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'i_love_you_man/rashida_pics.jpg', :class => 'bridesmaids left'
        %p Rashida's signature color.......yellow!
    .bridesmaids_div
      = link_to image_path('i_love_you_man/tuxedo_walking.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'i_love_you_man/tuxedo_walking.jpeg', :class => 'bridesmaids'
        %p A great group picture from the premiere

