= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 I Love You Man

  %p 
    2 of my favorite guys Paul Rudd & Jason Segel...
    an amazing director John Hamburg and loads 
    of fun!
    I wish we could do a sequel!!

%section.categorysection
  .row
    %article.categoryitem
      = link_to image_path('behind_the_scenes/iloveyouman1.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/iloveyouman1.jpeg', :class => 'img'
      %h1 Paul's groomsmen!
    %article.categoryitem
      = link_to image_path('behind_the_scenes/iloveyouman2.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/iloveyouman2.jpeg', :class => 'img'
      %h1 so fun to shoot a real rush concert
    %article.categoryitem
      = link_to image_path('behind_the_scenes/iloveyouman4.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/iloveyouman4.jpeg', :class => 'img'
      %h1 a great group picture from the premiere
  .row
    %article.categoryitem
      = link_to image_path('behind_the_scenes/iloveyouman3.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/iloveyouman3.jpeg', :class => 'img'
      %h1 rashida's signature color.......yellow!
