= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 I Love You Man

  %p 
    2 of my favorite guys Paul Rudd & Jason Segel...
    an amazing director John Hamburg and loads 
    of fun!
    I wish we could do a sequel!!

  %h2 Paul's groomsmen!
  = image_tag "behind_the_scenes/iloveyouman1.jpeg", :class => "aboutimg"

  %h2 so fun to shoot a real rush concert
  = image_tag "behind_the_scenes/iloveyouman2.jpeg", :class => "aboutimg"

  %h2 rashida's signature color.......yellow!
  = image_tag "behind_the_scenes/iloveyouman3.jpeg", :class => "aboutimg"

  %h2 a great group picture from the premiere
  = image_tag "behind_the_scenes/iloveyouman4.jpeg", :class => "aboutimg"

