%article.contentmain
  .categories
    %section.category
      = link_to bio_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1 Bio
    %section.category
      = link_to day_in_the_life_video_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1 Day in the life video
    %section.category
      = link_to nominations_awards_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1 Nominations & Awards


