= link_to raw("&#171; Return to About Page"), about_path, :id => "returncategories"
%article.contentmain
  .categories
    %section.category
      = link_to bio_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        = link_to "Bio", bio_path
    %section.category
      = link_to day_in_the_life_video_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        = link_to "Day in the Life of a Costume Designer Video", day_in_the_life_video_path
    %section.category
      = link_to nominations_awards_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        = link_to "Nominations & Awards", nominations_awards_path


