%section#movieposters.categorysection
  = link_to raw("&#171; Return to Costume Design Categories"), costume_design_path, :id => "returncategories"
  %article.categoryitem
    = image_tag 'movie_posters/iloveyouman.png'
    %h1 I Love You Man
  %article.categoryitem
    = image_tag 'movie_posters/bridesmaids.png'
    %h1 Bridesmaids
  %article.categoryitem
    = image_tag 'movie_posters/gethimtothegreek.png'
    %h1 Get Him To The Greek
  %article.categoryitem.last
    = image_tag 'movie_posters/forgettingsarahmarshall.png'
    %h1 Forgetting Sarah Marshall
  %article.categoryitem
    = image_tag 'movie_posters/josie.png'
    %h1 Josie and the Pussy Cats
  %article.categoryitem
    = image_tag 'movie_posters/fiveyearengagement.png'
    %h1 Five Year Engagement
  %article.categoryitem
    = image_tag 'movie_posters/scoobydoo.png'
    %h1 Scooby Doo
  %article.categoryitem.last
    = image_tag 'movie_posters/scoobydootwo.png'
    %h1 Scooby Doo Two
  %article.categoryitem
    = image_tag 'movie_posters/intotheblue.png'
    %h1 Into The Blue
