= link_to raw("&#171; Return to Costume Design"), costume_design_path, :id => "returncategories"
%section#movieposters.categorysection
  .row
    %article.categoryitem
      = link_to image_path('movie_posters/fiveyearengagement.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/fiveyearengagement.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('movie_posters/bridesmaids.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/bridesmaids.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('movie_posters/iloveyouman.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/iloveyouman.png', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('movie_posters/gethimtothegreek.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/gethimtothegreek.png', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('movie_posters/forgettingsarahmarshall.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/forgettingsarahmarshall.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('movie_posters/intotheblue.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/intotheblue.png', :class => 'img'
  .row
    %article.categoryitem
      = link_to image_path('movie_posters/josie.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/josie.png', :class => 'img'
    %article.categoryitem.last
      = link_to image_path('movie_posters/scoobydootwo.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/scoobydootwo.png', :class => 'img'
    %article.categoryitem
      = link_to image_path('movie_posters/scoobydoo.png'), :class => 'fancybox', :rel => "group" do
        = image_tag 'movie_posters/scoobydoo.png', :class => 'img'
