.contentmain.about 
%article.contentmain
  .categories
    %section.category
      = link_to philosophy_path do
        = image_tag 'about/leesathumb.png', :class => 'img'
      %h1 Philosophy
    %section.category
      = link_to philanthropy_path do
        = image_tag 'about/leesathumb.png', :class => 'img'
      %h1 Philanthropy
    %section.category
      = link_to colleagues_path do
        = image_tag 'about/leesathumb.png', :class => 'img'
      %h1 Colleagues
