= link_to raw("&#171; Return to About Page"), philosophy_path, :id => "returncategories"
.contentmain.about 
%article.contentmain
  .categories
    %section.category
      = link_to philosophy_subsection_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Philosophy
    %section.category
      = link_to philanthropy_subsection_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Philanthropy
    %section.category
      = link_to colleagues_subsection_path do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder Colleagues
