= link_to raw("&#171; Return to About Page"), about_path, :id => "returncategories"
%article.contentmain
  %h1.press_header Press Links

  .row
    %article.categoryitem
      = link_to 'http://carpetbagger.blogs.nytimes.com/2012/01/25/below-the-line-dressing-the-bridesmaids/' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        %a{:href => "http://carpetbagger.blogs.nytimes.com/2012/01/25/below-the-line-dressing-the-bridesmaids/"} NY Times Blog - Below the Line Dressing the BridesMaids
    %article.categoryitem
      = link_to 'http://latimesblogs.latimes.com/alltherage/2011/05/-catching-up-with-the-costume-designer-behind-bridesmaids.html' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        %a{:href => "http://latimesblogs.latimes.com/alltherage/2011/05/-catching-up-with-the-costume-designer-behind-bridesmaids.html"} LA Times Blog - Catching up with the Costume Designer Behind Bridesmaids
    %article.categoryitem
      = link_to 'http://latimesblogs.latimes.com/alltherage/2011/05/where-to-get-kristen-wiigs-necklace-or-something-just-like-it-from-bridesmaids-.html' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        %a{:href => "http://latimesblogs.latimes.com/alltherage/2011/05/where-to-get-kristen-wiigs-necklace-or-something-just-like-it-from-bridesmaids-.html'"} LA Times Blog - Where to get Kristen Wiigs Necklace or Something Just Like It
  .row
    %article.categoryitem
      = link_to 'http://news.instyle.com/2011/09/21/bridesmaids-dvd-helen-rose-byrne-fashion-credits/' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        %a{:href => "http://news.instyle.com/2011/09/21/bridesmaids-dvd-helen-rose-byrne-fashion-credits/"} InStyle - Bridesmaids DVD: Now You Can See Helen’s High-Fashion Style Up Close
    %article.categoryitem
      = link_to 'http://www.wwd.com/footwear-news/business/insider-bridesmaids-wardrobe-tony-vs-angel-3613101' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder 
        %a{:href => "http://www.wwd.com/footwear-news/business/insider-bridesmaids-wardrobe-tony-vs-angel-3613101"} WWD - Insider: 'Bridesmaids' Wardrobe… Tony vs. Angel
    %article.categoryitem
      = link_to 'http://fashionblog-cococouture.blogspot.com/2011/05/fashion-in-films-bridesmaids.html' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        %a{:href => "http://fashionblog-cococouture.blogspot.com/2011/05/fashion-in-films-bridesmaids.html"} Fashion Blog Cococouture - Fashion in Films: Bridesmaids
  .row
    %article.categoryitem
      = link_to 'http://www.brides.com/wedding-dresses-style/wedding-dresses/editorial-pick/2009/03/ii-love-you-mani-wedding-style#slide=1' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder 
        %a{:href => "http://www.brides.com/wedding-dresses-style/wedding-dresses/editorial-pick/2009/03/ii-love-you-mani-wedding-style#slide=1"} Brides.com - I Love You, Man Wedding Style
    %article.categoryitem
      = link_to 'http://clothesonfilm.com/bridesmaids-comedy-costume/20792/' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder 
        %a{:href => "http://clothesonfilm.com/bridesmaids-comedy-costume/20792/"} Clothes On Film - Bridesmaids Q&A: Comedy Costume
    %article.categoryitem
      = link_to 'http://www.fabsugar.com/Yellow-Bridesmaid-Dresses-Movie-I-Love-You-Man-3085165' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder 
        %a{:href => "http://www.fabsugar.com/Yellow-Bridesmaid-Dresses-Movie-I-Love-You-Man-3085165"} Fab Sugar - Color Me Inspired: I Love you, Man's Sunshiney Bride and Bridesmaids
  .row
    %article.categoryitem
      = link_to 'http://articles.cnn.com/2002-06-21/entertainment/in.look.alanis_1_alanis-morissette-handsome-prince-precious-illusions?_s=PM:SHOWBIZ' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder 
        %a{:href => "http://articles.cnn.com/2002-06-21/entertainment/in.look.alanis_1_alanis-morissette-handsome-prince-precious-illusions?_s=PM:SHOWBIZ"} CNN - Alanis Morissette: 'Precious Illusions'
    %article.categoryitem
      = link_to 'http://articles.cnn.com/2002-06-07/entertainment/in.look.gellar_1_scooby-doo-spooky-island-scooby-snacks?_s=PM:SHOWBIZ' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder 
        %a{:href => "http://articles.cnn.com/2002-06-07/entertainment/in.look.gellar_1_scooby-doo-spooky-island-scooby-snacks?_s=PM:SHOWBIZ"} CNN - Sarah Michelle Gellar: 'Scooby-Doo'
    %article.categoryitem
      = link_to 'http://www.emanuellevy.com/comment/forgetting-sarah-marshall-shooting-in-oahu-9/' do
        = image_tag 'about/pic_frame.jpg', :class => 'img'
      %h1.placeholder
        %a{:href => "http://www.emanuellevy.com/comment/forgetting-sarah-marshall-shooting-in-oahu-9/"} Emanuel Levy - Forgetting Sarah Marshall: Shooting in Oahu




    
