= link_to raw("&#171; Return to Behind The Scenes"), behind_the_scenes_path, :id => "returncategories"
.contentmain.about 
  %h1 This is Fourty

  %p 
    we had a  great summer with the adorable Paul Rudd
    and the entire Apatow family. This is 40  is a spin off
    of knocked up and equally if not more hilarious!
    The film is due out next Christmas!

%section#thisisfourty.categorysection
  .row
    %article.categoryitem
      = link_to image_path('behind_the_scenes/thisis401.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/thisis401.jpeg', :class => 'img'
      %h1 The Family
    %article.categoryitem
      = link_to image_path('behind_the_scenes/thisis402.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/thisis402.jpeg', :class => 'img'
      %h1 in the pool with chris, megan & jason
    %article.categoryitem
      = link_to image_path('behind_the_scenes/thisis403.jpeg'), :class => 'fancybox', :rel => "group" do
        = image_tag 'behind_the_scenes/thisis403.jpeg', :class => 'img'
      %h1 jason & leslie work out
