!!! 5
%html
  %head
    %title Leesa Evans - Costume Design, Celebrity Styling, Private Styling
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %header#mainheader
    %h1 Leesa Evans
    %h2 Costume Designer
    %ul#sociallinks
      %li= link_to "Twitter", '', :class => "twitter"
      %li= link_to "Facebook", '', :class => "facebook"
  #content
    %h1{:style => "margin: 0px auto; width: 980px;"} Under Construction
    -#= yield
  -#%footer#mainfooter
    -#%ul.footerlinks
      -#%li= link_to "Celebrity Styling", celebrity_styling_path
      -#%li= link_to "Private Styling", private_styling_path
      -#%li= link_to "Costume Design", costume_design_path
      -#%li= link_to "Blog", blog_path
      -#%li= link_to "About", about_path
      -#%li= link_to "Contact", contact_path
